<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812637154023-c84andcs1gj9tplhtiskftvtt284me61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812637154023-c84andcs1gj9tplhtiskftvtt284me61</string>
	<key>API_KEY</key>
	<string>AIzaSyA73_0GYed2ERXR0V-5SjomWmkt3VgakuE</string>
	<key>GCM_SENDER_ID</key>
	<string>812637154023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.successive.adhoc.friendlyshoppingapp</string>
	<key>PROJECT_ID</key>
	<string>friendly-shopping-f031c</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-shopping-f031c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812637154023:ios:55a9b79490542a6302d042</string>
	<key>DATABASE_URL</key>
	<string>https://friendly-shopping-f031c.firebaseio.com</string>
</dict>
</plist>